<h1>Create New User</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :email %><br>
  <%= form.email_field :email, placeholder: 'example@example.com' %><br><br>

  <%= form.label :username %><br>
  <%= form.text_field :username %><br><br>
  
  <%= form.label :password %><br>
  <%= form.password_field :password%><br><br>

  <%= form.submit "Submit" %>
<% end %>